body{
    background-image: url(fondo.gif);
    margin-top: 50px;
    margin-bottom: 50px;
    
    ; /* 1 / 1.2 */

    

}

  
    /* Capa oscura */
    body::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        z-index: -1;
    }


.container {
    max-width: 100%;
    width: 1200px;
    text-align: center;
    
}

h1 {
    color: #ffffff;
    background-color: #1e38cd;
    padding: 10px 50px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.imagen {
    background-color: hsla(251, 100%, 73%, 0.9);
    width: 550px;
 height: 400px;
    padding: 6px;
    display: inline-block;
    border-radius: 10px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    zoom: 0.85;
}

#lyricsContainer {
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: white;
    margin-top: 20px;
    position: absolute;
    top:64%;
}

.gif {
    width: 150px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    zoom: 0.85;
}

.gif2 {
    width: 150px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    zoom: 0.85;
}

/* Estilo para los botones */
button {
    background-color: #11238a;
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 48px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 72%;
    left: 42%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    zoom: 0.85;
}

    button:hover {
        background-color: #000000;
    }

.button2 {
    background-color: #11238a;
    color: white;
    font-family: 'Comic Sans MS';
    font-size: 58px;
    padding: 10px ;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 85%;
    left: 46.5%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    zoom: 0.85;
}

    .button2:hover {
        background-color: #000000;
    }

    @media (max-width: 1920px) {
        h1 {
            font-size: 40px; /* Ajustar tamaño del texto */
            top: 20%;
            
        }
    
        .imagen {
            width: 30%; /* Ajustar tamaño de la imagen */
            top: 48%;
            
        }
    
        .gif {
            width: 30%; /* tamaño de los GIFs */
            top: 50%; /* Separar imagen */
            left: 75%;
        }
    
        .gif2 {
            width: 30%; /* tamaño de los GIFs */
            top: 50%; /* Separar la imagen */
            left: 25%;
        }
    
        button {
            font-size: 60px; /* tamaño de los botones */
            top: 66.5%; /* posición de los botones */
            left: 43%; /* posición horizontal */
        }
    
        .button2 {
            font-size: 60px;
            top: 78%; /* posición de los botones */
            left: 48%; /* posición horizontal */
        }
    
        #lyricsContainer{
            top: 70%; /* posicion de las lyrics */
        }
    }
    
    @media (max-width: 1600px) {
        h1 {
            font-size: 40px;
            top: 16%;
        }
    
        .imagen {
            width: 35%;
            height: 43%;
            top: 47%;
        }
    
        .gif {
            width: 200px;
            top: 50%;
            left: 75%;
        }
    
        .gif2 {
            width: 200px;
            top: 50%;
            left: 25%;
        }
    
        button {
            font-size: 60px;
            top: 72%;
            left: 40%;
        }
    
        .button2 {
            font-size: 60px;
            top: 83%;
            left: 45%;
        }
    
        #lyricsContainer{
            font-size: 20px;
            top: 64%;
        }
    }
    
    @media (max-width: 1300px) {
  
    
        h1 {
            font-size: 28px;
            top: 8%;
        }
    
        .imagen {
            width: 35%;
            height: 50%;
            top: 45%;
        }
    
        .gif {
            width: 200px;
            top: 50%;
            left: 71%;
        }
    
        .gif2 {
            width: 200px;
            top: 46%;
            left: 25%;
        }
    
        button {
            font-size: 40px;
            top: 73%;
            left: 41%;
        }
    
        .button2 {
            font-size: 40px;
            top: 86%;
            left: 46.5%;
        }
    
        #lyricsContainer {
            font-size: 20px;
            top: 63%;
        }
    }
    
    
    @media (max-width: 1024px) {
        h1 {
            font-size: 25px;
            top: 8%;
        }
    
        .imagen {
            width: 40%;
            height: 50%;
            top: 45%;
        }
    
        .gif {
            width: 100px;
            top: 50%;
            left: 85%;
        }
    
        .gif2 {
            width: 100px;
            top: 50%;
            left: 15%;
        }
    
        button {
            font-size: 40px;
            top: 72%;
            left: 38%;
        }
    
        .button2 {
            font-size: 40px;
            top: 86.5%;
            left: 44.5%;
        }
    
        #lyricsContainer {
            top: 70%;
        }
    }
    
    /* Media Queries para pantallas más pequeñas (móviles) */
    @media (max-width: 768px) {
        h1 {
            font-size: 30px;
            top: 8%;
        }
    
        .imagen {
            width: 80%;
            top: 50%;
        }
    
        .gif {
            width: 80px;
            top: 82%;
            left: 88%;
        }
    
        .gif2 {
            width: 80px;
            top: 82%;
            left: 18%;
        }
    
        button {
            font-size: 30px;
            top: 78%;
            left: 29%;
        }
    
        .button2 {
            font-size: 30px;
            top: 89%;
            left: 37%;
        }
    
        #lyricsContainer {
            font-size: 20px;
            top: 70%;
        }
    }
    
    
    @media (max-width: 480px) {
        h1 {
          
            padding: 10px 5px;
            display: inline-block;
            border-radius: 10px;
            position:absolute;
            top: 10%;
            left: 50%;
        }
    
        .imagen {
            width: 80%;
            height: auto;
            top: 42%;
        }
    
        .gif {
            width: 90px;
            top: 80%;
            left: 89%;
        }
    
        .gif2 {
            width: 90px;
            top: 80%;
            left: 20%
        }
    
        button {
            font-size: 35px;
            top: 65%;
            left: 24%;
        }
    
        .button2 {
            font-size: 35px;
            top: 76%;
            left: 39%;
        }
    
        #lyricsContainer {
            font-size: 15px;
            top:63%;
        }
    }
    
    
    @media (max-width: 380px) {
        h1 {
            font-size: 20px;
            top: 10%;
        }
    
        .imagen {
            width: 80%;
            top: 40%;
        }
    
        .gif {
            width: 90px;
            top: 86%;
            left: 83%;
        }
    
        .gif2 {
            width: 90px;
            top: 86%;
            left: 21%
        }
    
        button {
            font-size: 25px;
            top: 63%;
            left: 16%;
        }
    
        .button2 {
            font-size: 25px;
            top: 74%;
            left: 26%;
        }
    
        #lyricsContainer {
            font-size: 15px;
            top:55.5%;
        }
    }

    #lyricsContainer {
        font-size: 15px;
        top:55.5%;
    }
}
